<div class="main-content">
  <div class="section-content section-content-p30" style='padding-left: 300px; padding-right: 250px'>
    <div class="container-fluid">
      <div *ngIf="cartItems.length > 0" class = "table-rounded">
        <table class="table table-bordered" >
          <tr style='border-color: transparent'>
            <th width="20%" style='border-top-left-radius: 20px; color: #f9c4ac; font-size: 20px'>ProductImage</th>
            <th width="50%" style='color: #f9c4ac; font-size: 20px'>Product Detail</th>
            <th width="30%" style='border-top-right-radius: 20px;'></th>
          </tr>

          <tr *ngFor="let tempCartItem of cartItems">
            <td>
              <img src="assets/perfume3.png" class="img-responsive" width="150px">
            </td>
            <td>
              <p>{{tempCartItem.name}}</p>
              <p>{{tempCartItem.price | currency: "EUR"}}</p>
            </td>
            <td>
              <div class="items">
                <label>Quantity:</label>
                <div class="row no-gutters">
                  <div class="col">
                    <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm"
                            style='background-color: #313131; border-color: #313131'>
                      <i class="fas fa-minus" style="font-weight: bold">-</i>
                    </button>
                  </div>
                  <div class="col ml-4 mr-2">
                    {{tempCartItem.quantity}}
                  </div>
                  <div class="col">
                    <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm"
                            style='background-color: #313131; border-color: #313131'>
                      <i class="fas fa-plus" style="font-weight: bold">+</i>
                    </button>
                  </div>
                  <div class="col-8"></div>

                </div>
              </div>

              <div>
                <button (click)="removeFromCart(tempCartItem)" class="btn btn-primary btn-sm mt-2"
                        style='background-color: #313131; border-color: #313131; font-weight: bold' >
                  Remove
                </button>
              </div>
              <p class="mt-2">Subtotal: {{tempCartItem.quantity * tempCartItem.price | currency: "EUR"}}
              </p>
            </td>
          </tr>

          <tr style='border-color: #5b0e2d; border-width: 3px'>
            <td colspan="2"></td>
            <td>
              <p>Total Quantity: {{totalQuantity}}</p>
              <p>Shipping: FREE</p>
              <p>Total Price: {{totalPrice | currency: "EUR"}}</p>
              <button class="button-order" (click)='placeOrder()' style="background: #313131; margin-bottom: 5px">
                <span>Place Order</span>
              </button>
              <button class="button-order" (click)='openPopupPromoCart()' style="font-size: 12px;margin-left: 20px; background: #313131">
                <span>Promo Code</span>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
        Your shopping cart is empty.
      </div>
    </div>
  </div>
</div>

<div class='popup-promo-cart' id="popup-promo-cart" style="z-index: 10; opacity:0.95;">
  <form d='request' class='main_form'>
    <div class='popup-promo-cart-form-area' [formGroup]="formPromo">
      <div style='padding-bottom:15px; text-align: center'>
        <h2 style='color: #fcc4ac;'>Promo Product</h2>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <label class="label">Price: </label>
          <input  type='type' class='contactus' placeholder='Promo' formControlName="promo">
        </div>
      </div>

      <nav>
        <ul>
          <li (click)='closePopupPromoCart()' style="width: 10em; height: 3em; border-color: #fcc4ac; color: #fff">
            Submit
            <span style="background: #fcc4ac"></span>
            <span style="background: #fcc4ac"></span>
            <span style="background: #fcc4ac"></span>
            <span style="background: #fcc4ac"></span>
          </li>
        </ul>
      </nav>

    </div>
  </form>
</div>
