<script src='app.component.ts'></script>


<aside *ngIf="isLoggedIn() == true" class='menu-sidebar d-none d-lg-block'>
  <div class='logo'>
    <!--    <a routerLink='/'>-->
    <img src='assets/logo_transparent.png' alt='OnlineShop' class='img-responsive'>
    <!--    </a>-->
  </div>
  <div class='menu-sidebar-content js-scrollbar1' style="font-size: 19px">
    <nav class='navbar-sidebar'>
      <ul class='list-unstyled navbar-list'>
        <li>
          <button (click)=goHome() style='color: #fcc4ac; font-size: 22px'>All Products</button>
        </li>
        <br>
        <li>
          <button (click)='toCategory("Women")' style='color: #fcc4ac'>Women</button>
        </li>
        <li>
          <button (click)='toCategory("Men")' style='color: #fcc4ac'>Men</button>
        </li>
        <li>
          <button (click)='toCategory("House")' style='color: #fcc4ac'>House</button>
        </li>
        <br>
        <li>
          <button (click)='toCategory("price-asc")' style='color: #fcc4ac'>Sort by Price ▲</button>
        </li>
        <li>
          <button (click)='toCategory("price-desc")' style='color: #fcc4ac'>Sort by Price ▼</button>
        </li>
        <br><br>
        <li *ngIf="isAdmin() == true">
          <button (click)='toAddProduct()' style='color: #fcc4ac'>Add Product</button>
        </li>
        <li *ngIf="isAdmin() == true">
          <button (click)='viewOrders()' style='color: #fcc4ac'>View Order</button>
        </li>
      </ul>
    </nav>
    <div class='username' style="font-size: 25px">
        <img src='assets/user-icon3.png' width="60" class='img-responsive'/>
          {{  returnUsernameLoggedIn() }}
    </div>
  </div>
</aside>

<div class='page-container' style='background-color: white'>

  <header *ngIf="isLoggedIn() == true" class='header-desktop'>
    <nav class='navbar navbar-fixed-top'>
      <div class='container'>
        <a class='navbar-brand fw-bold xxl-text'><span></span></a>
        <ul class='navbar-nav fw-bold lg-text'>
          <li style="padding-right: 20px; padding-top: 5px">
            <button class="button-like" (click)="openFavoriteProducts()">
              <span>♡</span>
            </button>
          </li>
          <li>
            <div class='cart-area d-n'>
              <button (click)='openCart()'>
                <div class='cart-button'>
                  {{totalPrice | currency: "EUR"}}
                  <span>{{totalQuantity}}</span>
                </div>
                <i class='fa fa-shopping-cart' aria-hidden='true'></i>
              </button>
            </div>
          </li>
          <li
            class='nav-item door-nav-item'
            (click)='this.logout()'
            on-mouseenter="doorClosed.style.display = 'none'; doorOpen.style.display = 'inline-block'"
            on-mouseleave="doorClosed.style.display = 'inline-block'; doorOpen.style.display = 'none'"
          >
            <a class='nav-link clickable' routerLink='/'>
              <svg xmlns='http://www.w3.org/2000/svg' width='2.5rem' height='2.5rem' fill='var(--light-blue)'
                   class='bi bi-door-closed' viewBox='0 0 16 16' #doorClosed>
                <path
                  d='M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z'/>
                <path d='M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z'/>
              </svg>
              <svg xmlns='http://www.w3.org/2000/svg' width='2.5rem' height='2.5rem' fill='var(--light-blue)'
                   class='bi bi-door-open' viewBox='0 0 16 16' style='display: none' #doorOpen>
                <path d='M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z'/>
                <path
                  d='M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z'
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <router-outlet>
  </router-outlet>
</div>
