.navbar {
  border-bottom: var(--light-blue) 3px solid;
}
.navbar-nav {
  flex-direction: row;
}
.nav-item {
  margin-left: 3rem;
}
.navbar-brand {
  color: var(--light-blue);
}
.navbar-brand > span {
  color: var(--light-orange);
}
.door-nav-item {
  margin-left: 1.5rem;
  line-height: 1.75rem;
}

// Fav - Button

.button-like {
  border: 3px solid var(--light-blue);
  background-color: transparent;
  text-decoration: none;
  padding-right: 0.75rem;
  padding-left: 0.25rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 0.7rem;
  color: var(--light-blue);
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:hover {
  border-color: #ffffff;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #ffffff;
}
